text{
  fill:purple;
  font-size: 18px;
}

.dot text{
  opacity: 0;
  pointer-events: none;
}

.dot:hover text{
  opacity: 1;
  font-size: 200%;
  fill:salmon;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.dot:hover circle{
  fill:purple

}

.dot{
  cursor: none;
  fill:purple;
  
}
h1{
  color:purple;
}